{% extends 'base.html'%}
{% block content%}
<body>
 
                <form class=" form-inventario" method="post" >
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    <h4>Digita tu calificacion</h4>
                    <br>
                    <div class="form-group" id="user-group">
                        {{form | crispy}}
                    </div>
                    <button type="submit" class="botons">Calificar</button>
                    <button type="reset" class="botons">Cancelar</button>
                    </div>
                </form>
        </div>
    </div>
</body>
{%endblock%}