{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-sacle=1.0">
	<link rel="stylesheet" href="{% static 'css/stylenav.css' %}">
	<link rel="stylesheet" href="{% static 'css/stylefooter.css' %}">
	<link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
	<link rel="stylesheet" href="{% static 'css/normal.css' %}">
	<link rel="stylesheet" href="{% static 'css/skele.css' %}">
	<link rel="stylesheet" href="{% static 'css/custo.css' %}">
	<title>Productos hombre</title>
</head>

<body>


	<!-- barra del encabezado: logo(empresa) -->
	<header >
		<nav class="nav">
			<a class="logo"><img src="{% static 'images/LOGO_CASTILLO.png' %}"></a>
			<ul class="nav nav-menu nav-menu-visible" id="menu">
				<li class="nav-menu-item">
					<a class="nav-link nav-menu-link" href="#" id="home">Inicio</a>
				</li>
				<li class="nav-menu-item">
					<a class="nav-link nav-menu-link" href="{% url 'products' %}" id="sistem">Productos</a>
					<ul>

						<li class="nav-link nav-menu-link des"><a href="{% url 'categoryC' %}">Baloncesto</a></li>
					</ul>
				</li>
				<li class="nav-menu-item">
					<a class="nav-link nav-menu-link" href="#quienesomos" id="about">Quienes somos</a>
				</li>
				<li class="nav-menu-item">
					<a class="nav-link nav-menu-link nav-menu-link_active" href="{% url 'login' %}" id="contact">Iniciar
						Sesion</a>
				</li>
				<li class="nav-menu-item">
					<a class="nav-link nav-menu-link nav-menu-link_active" href="{% url 'login' %}"
						id="contact">Registrar</a>
				</li>
				<li class="submenu nav-menu-item"><a class="fa-solid fa-cart-shopping">
						<div id="carrito" >
							<table id="lista-carrito" class="u-full-width ">
								<thead>
									<tr>
										<th>Imagen</th>
										<th>Nombre</th>
										<th>Precio</th>
										<th>Cantidad</th>
										<th></th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>

							<a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
						</div>
				</li></a>
			</ul>
		</nav>
	</header>



	<section class="detalle">
		<h1 class="letra">
			El Castillo del Deporte
		</h1>
		<h4>
			<small>
				Almacen de deportes
			</small>
		</h4>
	</section>

	<div class="slider">
		<ul>
			<li><img src="{% static 'images/box.jpg' %}" alt=""></li>
			<li><img src="{% static 'images/soccer-1678992_1920.jpg' %}" alt=""></li>
			<li><img src="{% static 'images/running-track-1201014_1920.jpg' %}" alt=""></li>
			<li><img src="{% static 'images/basketball-95607_1920.jpg' %}" alt=""></li>
		</ul>
	</div>


	<main>
		{% block content %}	
		<div id="lista-cursos" class="container">
			<h1 id="encabezado" class="encabezado">Productos Futbol</h1>
			<div class="row">
				<div class="four columns">
					<div class="card">
						{% if product.image %}
							<img src="{{ product.image.url }}" class="imagen-curso u-fall-width" alt="Imagen del producto" >
						{% endif %}
						<div class="info-card">
							<h4>{{ product.name }}</h4>
							<p>{{ product.description | truncatewords:15 }}</p>
							<!-- <p>El Empeine está Elaborado en material sintético con diseño y textura lisa con estampado
								geométrico y Gráficos de la marca• Posee collarín acolchado, empeine acordonado y punta
								redonda, Incorpora forro en material sintético siendo una prenda cómoda</p> -->
							<img src="{% static 'images/estrellas.png' %}">
							<p class="precio">$95 <span class="u-pull-right ">${{ product.price }}</span></p>
							<a href="{% url 'product' product.slug %}" class="u-full-width button-primary button input">Ver mas</a>
							<a href="#" class="u-full-width button-primary button input agregar-carrito"
								data-id="1">Agregar Al Carrito</a>
						</div>
					</div>
					<!--.card-->
				</div>
			</div>
		</div>
		{% endblock%}
	</main>

	<footer>
		<div class="footer-content">
			<h2>Desarrollado por:</h2><br>
			<p>Sena Centro de Servicios Financieros </p>
			<p>Programa Técnico de Desarrollo de Software</p>
			<p>Coordinación Acádemica de Técnologia e Informática</p>
			<p>2022</p>
			<ul class="socials">
				<li><a href="https://www.facebook.com/El-Castillo-Del-Deportes-1109242705876897/"><i
							class="fa fa-facebook"></i></a></li>
				<li><a href="https://instagram.com/castillo_del_deporte_?igshid=YmMyMTA2M2Y="><i
							class="fa fa-instagram"></i></a></li>
				<li><a href="https://api.whatsapp.com/send?phone=573219485468"><i class="fa fa-whatsapp"></i></a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<p>copyright &copy;2022</p>
		</div>

	</footer>

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
	<script src="{% static 'js/main (2).js' %}"></script>
	<script src="{% static 'js/login.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>

</body>

</html>